@model LabPractice.Models.Student
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add record</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
    }
</head>
<body class="container">
    <form action = "/Students/Create" method="post">
        <div class="table-responsive">
            <table class="table table-bordered"> 
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>
                            <input class="form-control" type="text" name="Name"/>
                            <span asp-validation-for = "Name" class="text-danger"></span>
                         </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input type="text" name="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                       <td>Course</td>
                       <td>
                           <input type="text" name="Course" />
                            <span asp-validation-for="Course" class="text-danger"></span>
                       </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-outline-primary">Save Record</button>
                        </td>
                    </tr>
                </tbody>

                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>